html            { font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif; font-size: 0.9em;}
a, h1           { color: #858e93; }
h1              { font-size: 1em; }
h2              { font-size: 1.2em; }
h3              { font-size: 1.5em; }

img {     border: 0; } 

html, body {overflow: hidden}

.row {
    line-height:0.1;
    position: relative;

  }


.main_frame {

    z-index:2;
  }

.main {

    z-index:5;
  }

.main_line {

    z-index:10;
  }

.item_1 {
    position: absolute;
    bottom: 0px;
    right: 810px;
    height: 100%;
    z-index:-1;
    opacity:1;
  }

.item_2 {
    position: absolute;
    bottom: 0px;
    right: 617px;
    height: 100%;
    z-index:-1;
    opacity:1;
}

.item_3 {
    position: absolute;
    bottom: 0px;
    right: 422px;
    height: 100%;
    z-index:-1;
    opacity:1;
}


.item_4 {
    position: absolute;
    bottom: 0px;
    right: 228.5px;
    height: 100%;
    z-index:-1;
    opacity:1;
}


.item_5 {
    position: absolute;
    bottom: 0px;
    right: 36px;
    height: 100%;
    z-index:-1;
    opacity:1;
}


.box {
    padding: 2px;
    border-radius: 3px 3px 3px;
    border: 1px solid #efefef;
    padding-left: 7px;
    padding-right: 7px;
}



.intro {
    font-size: 10px;

}

.desc {
    font-size: 8px;
    font-color: "#444242";
    opacity:0.4;

}

.desc_small {
    color: #091ea3;
    opacity:1;

}


iframe {
    height: 20% !important;
}

div.desc {
    padding: 15px;
    text-align: center;
}


